body {
    background-color: #0D192C;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Outfit', sans-serif;
}

.main-div {
    font-family: 'Outfit', sans-serif;
    width: 279px;
    height: 495px;
    padding: 24px;    
    border-radius: 15px;
    background-color: #15263F;
    box-shadow: 0px 25px 50px rgba(0, 0, 0, 0.0952917);
}

img {
    max-width: 100%;
    border-radius: 8px;
}

.header-equ {
    font-weight: 600;
    font-size: 22px;
    line-height: 28px;
    color: #FFFFFF;
    margin-top: 24px;
    margin-bottom: 12px;
}
 
.text {
    font-weight: 300;
    font-size: 18px;
    line-height: 26px;
    color: #8BACD9;
    margin-bottom: 16px;
}

.div-child{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.left {
    display: flex;
}

.ETH {
    font-weight: 600;
    font-size: 15px;
    line-height: 19px;
    color: #00FFF8;
    margin-left: 6.48px;
}

.right {
    display: flex;
}

.clock {
    height: 16px;
    width: 16px;
    margin-right: 9.03px;
    margin-top: 1px;
}

.days {    
    font-weight: 400;
    font-size: 15px;
    line-height: 19px;
    color: #8BACD9;
}

hr {
    background-color: #2E405A;
    width: 100%;
    height: 1px;
    border: none;
    margin-top: 16px;
    margin-bottom: 16px;
}

.last {    
    display: flex;
    justify-content: flex-start;
    align-items: center;

}

.avatar {
    width: 33px;
    height: 33px;
    border: 1px solid #FFFFFF;
    border-radius: 50%;
    margin-right: 16px;
}

.text1 {
    font-weight: 400;
    font-size: 15px;
    line-height: 19px;
    color: #8BACD9;
    margin-right: 5px;
}

.text2 {
    font-weight: 400;
    font-size: 15px;
    line-height: 19px;
    color: #FFFFFF;
}

@media (min-width: 375px) {
    .main-div {
        width: 302px;
        height: 548px;
    }    

    .div-view {        
        width: 302px;
        height: 302px;
        background-color: #00FFF8;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        margin-top: -304px;
        opacity: 0;        
        transition: 1s;
        border-radius: 8px;
    }

    .div-view:hover {
        opacity: 0.5;
        cursor:pointer;
    }

    .header-equ:hover {
        color: #00FFF8;
        cursor: pointer;    
    }

    .ETH {
        font-size: 16px;
        line-height: 20px;
    }

    .clock {
        margin-top: 2px;
    }

    .days {
        font-size: 16px;
        line-height: 20px;
    }

    hr {
        margin-top: 24px;
    }

    .text1 {
        font-size: 16px;
        line-height: 20px;
    }
    
    .text2 {
        font-size: 16px;
        line-height: 20px;
    }

    .text2:hover {
        color: #00FFF8;
        cursor: pointer;
        
    }
    
}

@media (max-width: 375px) {
    .img-view {
        display: none;
    }
}


